body {
    background-color: #FBFCFD;
    font-family: 'Poppins';
}

.navbar-light {
    font-size: 18px;
    font-weight: 500;
    padding: 15px 115px;
    background-color: #FBFCFD;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.25);
}

.navbar-light .navbar-nav .nav-link{
    color: #264A99;
    margin-left: 60px;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #FFD200;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: #FFD200;
}

#section-home {
    padding-top: 140px;
    padding-bottom: 100px;
}

#home-text {
    margin-top: 35px;
}

.home-desc{    
    font-weight: 500;
    line-height: 25px;
    font-size: 16px;
    color: #767779;
}

#section-greetings {
    color: #FFFFFF;
    background-color: #264A99;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 170px;
    margin-bottom: 350px;
}

.col-centered {
    float: none;
    margin: auto;
}

#greetings-text{
    margin-top: 60px;
    margin-bottom: auto;
    padding-left: 60px;
}

.greetings-desc{
    color: #FFFFFF;
    font-weight: 500;
    line-height: 25px;  
    font-size: 18px;
}

h1 {
    color: #264A99;
    font-size: 100px;
    font-weight: 700;
}

h2 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 60px;
}

h3 {
    color: #264A99;
    font-size: 35px;
    font-weight: 600;
}

button {
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
}

.btn-talk {
    background-color: #264A99;
    border: 2px solid #264A99;
    color: #FFFFFF;
    padding: 10px 16px;
    margin-top: 40px;
}

.btn-talk:hover {
    border: 2px solid #264A99;
    background-color: transparent;
    color: #264A99;
}

.btn-talk:active {
	position:relative;
	top:1px;
}

.btn-greetings {
    border: 2px solid #FFD200;
    background-color: #FFD200;
    color: #264A99;
    padding: 10px 18px;
    margin-top: 50px;
}

.btn-greetings:hover {
    border: 2px solid #FBFCFD;
    background-color: #264A99;
    color: #FBFCFD;
}

.btn-greetings:active {
	position:relative;
	top:1px;
}

.btn-dribbble {
    background-color: #FFFFFF;
    border: 2px solid #264A99;
    color: #264A99;
    padding: 10px 16px;
    margin-left: auto;
}

.btn-dribbble:hover {
    border: 2px solid #264A99;
    background-color: #264A99;
    color: #FFFFFF;
}

.iconify {
    color: #264A99;
    font-size: 24px;
    height: 28px;
    width: 28px;
}

.iconify:hover {
    color: #FFFFFF;
}

.icon-footer {
    height: 38px;
    width: 38px;
    margin-left: 20px;
    margin-right: 20px;
}

.icon-footer-ig {
    height: 50px;
    width: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

.icon-footer:hover, .icon-footer-ig:hover {
    color: #407BFF;
}

h4 {
    color: #264A99;
}

h5 {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #264A99;
}

.card-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #264A99;
    margin-bottom: 20px;
    text-align: center;
}

#testi {
    margin-bottom: 60px;
}

.testi {
    border-radius: 15px;
}

.p-testi {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #A6A0A0;
}

#section-porto {
    padding-top: 100px;
}

.p-title-porto {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #417CFF;
    margin-bottom: 30px;
    text-align: center;
}

.special {
    position: absolute;
    border-radius: 30px;
    margin-top: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 100px rgba(0, 0, 0, 0.05);
}

.title-card-special {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #264A99;
    margin-top: 40px;
}

.p-card-special {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #767779;
}

.porto {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.05);
    margin-bottom: 50px;
}

.porto-title-right {
    text-align: right;
    padding-right: 80px;
}

.porto-title-left {
    padding-left: 80px;
}

#section-porto h3{
    color: #FFD200;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
}

.btn {
    background-color: #264A99;
    border: 2px solid #264A99;
    border-radius: 30px;
    color: #FFFFFF;
    padding: 10px 16px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
}

.btn:hover {
    background-color: #FFFFFF;
    border: 2px solid #264A99;
    color: #264A99;
}

p {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #767779;
}

.button-center {
    text-align: center;
    margin-bottom: 80px;
}

#section-contact {
    padding-top: 80px;
    padding-bottom: 80px;
}

.p-title-contact {
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #767779;
    text-align: center;
    margin-bottom: 40px;
}

.form-control {
    background-color: #D8DEED;
    border: 2px solid #D8DEED;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: #264A99;
    display: inline-block;
    border-radius: 5px;
}

.form-control::placeholder {
    color: #264A99;
}

.form-control:hover {
    color: #264A99;
}

button[type=submit] {
    background-color: #264A99;
    border: 2px solid #264A99;
    color: #FFFFFF;
    padding: 10px 60px;
    margin-top: 40px;
}

button[type=submit]:hover {
    border: 2px solid #264A99;
    background-color: transparent;
    color: #264A99;
}

button[type=submit]:active {
	position:relative;
	top:1px;
}

.button-msg-center {
    text-align: center;
}

footer {
    background-color: #D8DEED;
    padding-top: 60px;
    padding-bottom: 40px;
}

.logo img {
    margin-left: 20px;
    margin-right: 20px;
}

.owl-carousel .owl-item img {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.owl-carousel .owl-item #dp {
    margin-top: 20px;
    margin-bottom: 20px;
}

.owl-theme .owl-dots .owl-dot {
    margin-top: 30px;
}

.owl-theme .owl-dots .owl-dot.active span {
    background-color: #264A99;
    height: 18px;
    width: 18px;
}

.owl-theme .owl-dots .owl-dot span {
    background-color: #C4C4C4;
    height: 18px;
    width: 18px;
}

.testi-text {
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.tested-by {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footer-desc p {
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: #407BFF;
}

.footer-desc a span {
    color: #264A99;
    font-weight: 600;
    text-decoration: none;
}

.footer-desc p a:hover, .footer-desc p a span:hover {
    color: #407BFF;
    text-decoration: none;
}